.SideNav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100%;
    width: 250px;
    max-width: 70%;
    background-color: #2E2E2E;
    box-sizing: border-box;
    padding: 32px 0px;
    transition: transform 0.3s ease-out;
    color: white;
}
.SideNav ul {
    list-style: none;
    text-align: left;
    padding: 0;
    
}

.SideNav ul li {
    cursor: pointer;
}

.SideNav ul li a{
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.SideNav ul li a.active{
    background-color:#212121;
}